* {
  /* font-family: "Roboto Mono"; */
}

.quiz-intro {
  /* background-color: #3c90f1; */
  background: rgb(255, 255, 255);

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,

    rgba(252, 175, 51, 1) 70%,
    rgba(245, 132, 57, 1) 50%,
    rgba(252, 175, 51, 1) 90%,

    rgba(245, 132, 57, 1) 0%
  );
}

.intro-msg {
  min-height: 100vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  margin: auto;
}

.intro-input-text {
  font-size: 2.5rem;
  text-align: center;
  border-style: none none solid none;
  padding: 0;
  margin: 1em 0;
  background-color: transparent;
}

.intro-input-text:focus {
  outline-width: 0;
}
.sam {
  height: 15rem;
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.sam-topic {
  height: 10rem;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-next {
  max-width: 50rem;
  padding: 1em 6em;
  background-color: #fcaf33;
  font-size: 1.5rem;
  /* display: inline-block; */
  border: 2px solid #000;
  color: #000;
  border-radius: 2rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.01s ease-in, opacity 0.5s ease-in;
  /* -o-transition: 0.001s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in; */
}

.btn-next.visible {
  opacity: 1;
  transform: translateY(0);
}

.btn-next:hover {
  cursor: pointer;
  background-color: #f58439;
  transform: scale(1.02);
}

.btn-next:before {
  content: "";
  position: absolute;
  background: #f58439;
  color: #fff;
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-next:hover:before {
  left: 0;
}

.btn-next:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  transition: none;
}

.btn-next.active {
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  transition: none;
  background: #f58439;
}

.logo-inline {
  height: 3em;
  vertical-align: middle;
}

.btn-quiz-submit {
  position: relative;
  padding: 0.5em 3em;
  background-color: #31354e;
  font-size: 1.5rem;
  border: 2px solid #000;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
}

.btn-quiz-submit:hover {
  background-color: #31354e;
  color: #fff;
  cursor: pointer;
}

/* .btn-quiz-submit:after {
  content: "Confirm";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-quiz-submit:before {
  content: "Submit →";
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.btn-quiz-submit:hover:before {
  left: 0;
  opacity: 1;
  color: #fff;
}
.btn-quiz-submit:hover:after {
  left: 100%;
  opacity: 0;
}

.quiz-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  gap: 1.5rem;
}

.matching-question-container {
  display: flex;
  border: solid #000 2px;

  width: 50rem;
  height: 25rem;
}

.question {
  min-width: 30rem;
  padding: 1em 0;
}

/* .question:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 0px 0px #3380fc;
  border: 2px solid #3380fc;
} */

.dnd-container {
  display: grid;
  gap: 1rem;
}

.options {
  display: flex;
  gap: 1em;
}

.option {
  border: solid #000 2px;
  border-radius: 2rem;
  padding: 1em;
  width: 2rem;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f58439;
  transition: 0.2s ease-in;
}

.answer-box {
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  transition: 0.2s ease-in;
}

.answer-box.drag-over {
  border-color: #3380fc; /* Change border color when an item is dragged over */
  background-color: #e0f7ff; /* Change background color */
}

.answer-box.drag-placed {
  background-color: #f58439; /* Change background color */
}

.option.inactive {
  opacity: 0;
  pointer-events: none;
  background-color: transparent; /* Change background color */
}
