.quiz-intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* position: relative; */
  /* background-color: #3c90f1; */
  /* background: rgb(255, 255, 255); */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,
    rgba(252, 175, 51, 1) 70%,
    rgba(245, 132, 57, 1) 50%,
    rgba(252, 175, 51, 1) 90%,
    rgba(245, 132, 57, 1) 0%
  );
}

.intro-msg {
  max-width: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative; /* for SAM */
  margin: auto;
}

.intro-input-text {
  font-size: 2.5rem;
  text-align: center;
  border-style: none none solid none;
  padding: 0;
  margin: 1em 0;
  background-color: transparent;
}

.intro-input-text:focus {
  outline-width: 0;
}

.sam {
  /* z-index: 0; */
  height: 15rem;
  position: absolute;
  top: calc(50%); /* 5rem below the .speech-bubble */
  left: calc(-15% - 5rem); /* Adjust left/right to control horizontal positioning */
}

.sam-topic {
  height: 10rem;
}

.topicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-next {
  max-width: 50rem;
  padding: 1em 6em;
  background-color: #fcaf33;
  font-size: 1.5rem;
  /* display: inline-block; */
  border: 2px solid #000;
  color: #000;
  border-radius: 2rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.01s ease-in, opacity 0.5s ease-in;
  /* -o-transition: 0.001s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in; */
}

.btn-next.visible {
  opacity: 1;
  transform: translateY(0);
}

.btn-next:hover {
  cursor: pointer;
  background-color: #f58439;
  transform: scale(1.02);
}

.btn-next:before {
  content: "";
  position: absolute;
  background: #f58439;
  color: #fff;
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-next:hover:before {
  left: 0;
}

.btn-next:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  transition: none;
}

.btn-next.active {
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  transition: none;
  background-color: #f58439;
}

.logo-inline {
  height: 3em;
  vertical-align: middle;
}

.logo-fixed {
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: center; */
}

.logo-fixed img {
  max-height: 5rem;
}

.submit {
  position: relative;
  padding: 0.5em 2em;
  background-color: grey;
  font-size: 1.2rem;
  border: 2px solid #000;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
}

.proceed {
  background-color: #3380fc;
}

.proceed:hover {
  cursor: pointer;

  transform: scale(1.05);
}

.quiz-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  gap: 1.5rem;
}

.matching-question-container {
  display: flex;
  /* border: solid #000 2px; */
  width: 50rem;
  /* height: 25rem; */
}

.question {
  min-width: 30rem;
  padding: 1em 0;
}

/* .question:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 0px 0px #3380fc;
  border: 2px solid #3380fc;
} */

.dnd-container {
  display: grid;
  gap: 1rem;
}

.options {
  display: flex;
  gap: 1em;
}

.option {
  border: solid #000 2px;
  border-radius: 2rem;
  padding: 1em;
  /* width: 2rem; */
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f58439;
  transition: 0.2s ease-in;
}

.answer-box {
  font-size: 1.2em;
  min-width: 2em;
  height: 1em;
  background-color: transparent;
  transition: 0.2s ease-in;
}

.answer-box.drag-over {
  border-color: #3380fc; /* Change border color when an item is dragged over */
  background-color: #e0f7ff; /* Change background color */
}

.answer-box.drag-placed {
  background-color: #f58439; /* Change background color */
}

.option.inactive {
  opacity: 0;
  pointer-events: none;
  background-color: transparent; /* Change background color */
}

.speech-bubble {
  animation: slideInFromRight 1s ease-in-out;
  position: relative;
  width: 30rem;
  min-height: 6rem;
  padding: 1rem;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 2rem;
  border: 1px solid #000;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 1);
}

.speech-bubble:before,
.speech-bubble:after {
  content: "\0020";
  display: block;
  position: absolute;
  top: 60px;
  left: -0.9rem;
  z-index: 2;
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid 1rem transparent;
  border-left: 0;
  border-right-color: #fff;
}
.speech-bubble:before {
  top: 60px;
  left: -1rem; /* Adjust this to control spacing */
  z-index: 1;
  border-right-color: #000;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
