input[type="range"] {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  appearance: none; /* Remove default styling for other browsers */
  width: 50vw;
  height: 0.5rem; /* Height of the slider track */
  background: #3380fc;
  outline: none;
  border-radius: 5px;
  border: 2px solid #000;
}

/* Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default thumb style */
  appearance: none;
  width: 40px; /* Width of the custom thumb */
  height: 40px; /* Height of the custom thumb */
  background: url("../public/favicon3.png"); /* Replace with your image */
  background-size: cover; /* Ensure the image fills the thumb */
  border-radius: 50%; /* Make it round, if desired */
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
}

/* Firefox Support */
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url("../public/favicon3.png");
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
