input[type="range"] {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  appearance: none; /* Remove default styling for other browsers */
  width: 50vw;
  height: 0.5rem; /* Height of the slider track */
  background: #3380fc;
  outline: none;
  border-radius: 5px;
  border: 2px solid #333333;
}

/* Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default thumb style */
  appearance: none;
  width: 2rem; /* Width of the custom thumb */
  height: 2rem; /* Height of the custom thumb */
  background: url("../public/favicon3.png"); /* Replace with your image */
  background-size: cover; /* Ensure the image fills the thumb */
  border-radius: 50%; /* Make it round, if desired */
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #333333;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.5);
  background: url("https://ik.imagekit.io/jbyap95/tr:w-100/sam_anim03.gif?updatedAt=1729092923412");
  background-size: contain;
  background-color: #fff;
}

/* Firefox Support */
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url("../public/favicon3.png");
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
